html {
    height: 100%;
}

body {
    min-height: 900px;
    width: 100%;
    margin: 0px;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
    align-self : center;
    width: auto;
}

hr {
    margin: 2px;
}

header {
    min-height: 100px;
    background: rgb(142, 197, 54);
    padding: 0px 50px;
    color: rgb(45, 45, 46);
}

footer {
    padding: 25px;

    min-height: 100px;
    margin: 0 ;
    background: rgb(99, 100, 102);
    color: rgb(148, 211, 212);
}

#page {
    width: 900px;
    min-height: 900px;
    margin: 0 auto;
    padding: 25px;
    background: rgb(148, 211, 212);
}

#container_play_field {
    float: left;
}

#questions_field {
    float: right;
}

#play_field
{
    width: 400px;
    height: 400px;
    margin: auto;
    border-spacing: 0px;
    border: 1px solid black;
}

#menu_list{
    list-style-type: none;
}

.nav_buttom {
    float:left;
    margin: 0px 10px;
}

.header_link {
    text-decoration:none;
    color: rgb(45, 45, 46);
}

.letter_field {
    width: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.letter_field_selected {
    width: auto;
    height: auto;
    background-color: rgb(255, 229, 125);
    border: 1px solid black;
}