/*
body {
    width: 900;
    margin: 0 auto;
}*/

p {
    width: auto;
}

#header {/* здесь будет лого и еще что-нибудь вроде поддержки проекта.
            минимальная ширина будет зависеть от лого и остального*/
    /*min-width: 600px;*/
    height: auto;
    margin-top: 25px;
}

#page {
    width: 400px;
    min-height: 600px;
    margin: 0 auto;
}

#footer {
    margin-top: 20px;
    width: 400px;
    margin: 0 auto;
}


.letter-field {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
}

.letter-field-selected {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 229, 125);
    border: 3px rgb(217, 134, 0);
}