
#header {/* здесь будет лого и еще что-нибудь вроде поддержки проекта.
            минимальная ширина будет зависеть от лого и остального*/
    width: 100%;
    /*min-width: 600px;*/
    height: auto;
    margin-top: 25px;
}

#pade {
    height: auto;
}

#footer {
    margin-top: 20px;
    border-top: 1px solid black;

}

.letter-field {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 255, 255);
}

.letter-field-selected {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 229, 125);
    border: 3px rgb(217, 134, 0);
}